/*FONT SIZE AND WEIGHT*/

.big {
  font-weight: 800;
  font-size: 20px;
}
.medium {
  font-weight: 600;
  font-size: 16px;
}
.small {
  font-weight: 400;
  font-size: 14px;
}
/* GLOBAL CONTAINER + BODY*/
body {
  width: 100%;
  font-family: "Raleway", sans-serif;
}
#container {
  max-width: 1200px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
}
/* HEADER*/
header {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}
#nav_list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
#nav_list li {
  list-style: none;
}
#nav_list a {
  text-decoration: none;
  color: black;
  padding: 15px 8px; /* BORDER TOP LARGER THAN TEXT*/
}
#nav_list .no_anchor a {
  color: #0065fc;
  font-weight: bold;
}
#nav_list a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}
/*FINDER*/
#search {
  display: flex;
  flex-direction: column;
}
#top_search {
  display: flex;
  flex-direction: column;
}
#top_search h2 {
  margin-bottom: 0;
}
#top_search p {
  margin-top: 1px;
}
#form_search {
  display: flex;
  width: 290px;
  height: 40px;
  border: 1.5px solid #f1f1f1;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.fa-map-marker-alt {
  width: 15px;
  height: 12px;
  margin: 15px 15px;
}
/* LE BOUTON NE FONCTIONNE PAS*/
.button {
  color: white;
  background-color: #0065fc;
  border: 1px solid #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;
}
.button:hover {
  background-color: #f2f2f2;
  color: #0065fc;
}
.ville {
  border: none;
}
/* FILTERS*/
#filters {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

#filters_list {
  width: 900px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
#filters_list i {
  display: flex;
  color: #0065fc;
  background-color: #deebff;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#filters_list div {
  height: 40px;
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}
#filters_list .medium {
  padding: 0 10px;
}
#filters_list div:hover {
  background-color: #deebff;
}
#filters_info {
  display: flex;
  align-items: center;
}
#filters_info i {
  display: flex;
  color: #0065fc;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
  font-size: small;
}
/*SECTION 1 HEBERGEMENT  ET LES PLUS POPULAIRES*/
#section1 {
  display: flex;
  justify-content: space-between; /* pas de marge latérale*/
  height: 520px;
}
/* PARTIE GAUCHE HEBERGEMENTS A MARSEILLE*/
#accomodation {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  background-color: #f2f2f2;
  border-radius: 25px;
  align-items: center; /* centrer dans la hauteur*/
  justify-content: space-evenly; /* espacement égal */
}
#Hebergements {
  display: flex;
  width: 90%;
}
#box1,
#box2,
#box3,
#box4,
#box5,
#box6 {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  height: 160px;
  border: 5px solid white;
  border-radius: 20px;
}
#box1 img,
#box2 img,
#box3 img,
#box4 img,
#box5 img,
#box6 img {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  object-fit: cover; /* on garde le ration de l'image*/
}
#section1 a,
#section2 a {
  text-decoration: none;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 0.4s;
}
#section1 a:hover,
#section2 a:hover {
  transform: scale(1.05);
}
.box_legend p {
  display: flex;
  flex-direction: column;
  margin: 3px 0 0 3px;
}
#section1 .logo_star {
  margin: 3px 0 0 5px;
  color: #0065fc;
}
/*SPAN*/
.grey_star {
  color: #f2f2f2;
}
#bottom_accomodation {
  display: flex;
  width: 90%;
}
/*PARTIE DROITE LES PLUS POPULAIRES*/
#popular {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around; /* VOIR EVENLY*/
  background-color: #f2f2f2;
  border-radius: 25px;
}
#title_popular {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}
#box7,
#box8,
#box9 {
  display: flex;
  flex-direction: row;
  width: 310px;
  height: 120px;
  border: 5px solid white;
  border-radius: 25px;
}
#box7 img,
#box8 img,
#box9 img {
  width: 140px;
  height: 120px;
  display: flex;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
#popular .logo_star {
  margin-top: 30px;
}
/*SECTION 2 ACTIVITE A MARSEILLE*/
#section2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
#Activites {
  display: flex;
  width: 100%;
}
#box10,
#box12 {
  height: 320px;
  width: 260px;
}
#box10 img,
#box12 img {
  display: flex;
  object-fit: cover;
  width: 260px;
  height: 280px;
  border-radius: 15px 15px 0 0;
}
#box11,
#box13 {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 260px;
  justify-content: space-between;
}
#box11 img,
#box13 img {
  display: flex;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 260px;
  height: 110px;
}
#section2 .box_legend {
  margin: 10px;
}
