/*FONT SIZE AND WEIGHT*/

.big {
  font-weight: 800;
  font-size: 20px;
}
.medium {
  font-weight: 700;
  font-size: 18px;
}
.small {
  font-weight: 400;
  font-size: 16px;
}
/* GLOBAL CONTAINER + BODY*/
body {
  width: 100%;
  font-family: "Raleway", sans-serif;
}
#container {
  max-width: 1200px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 15px;
}
/* HEADER*/
header {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}
#nav_list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
#nav_list li {
  list-style: none;
}
#nav_list a {
  text-decoration: none;
  color: black;
  padding: 15px 8px; /* BORDER TOP LARGER THAN TEXT*/
}
#nav_list .no_anchor a {
  color: #0065fc;
  font-weight: bold;
}
#nav_list a:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}
/*FINDER*/
#search {
  display: flex;
  flex-direction: column;
}
#top_search {
  display: flex;
  flex-direction: column;
}
#top_search h2 {
  margin-bottom: 0;
}
#top_search p {
  margin-top: 1px;
}
#form_search {
  display: flex;
  width: 270px;
  border: 1.5px solid #f2f2f2;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.fa-map-marker-alt {
  width: 15px;
  height: 12px;
  margin: 15px 15px;
}
/* LE BOUTON NE FONCTIONNE PAS*/
.button {
  color: white;
  background-color: #0065fc;
  border: 1px solid #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;
}
.button:hover {
  background-color: #f2f2f2;
  color: #0065fc;
}
.ville {
  border: none;
}
/* FILTERS*/
#filters {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

#filters_list {
  width: 900px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
#filters_list i {
  display: flex;
  color: #0065fc;
  background-color: #deebff;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#filters_list div {
  height: 40px;
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}
#filters_list .medium {
  padding: 0 10px;
}
#filters_list div:hover {
  background-color: #deebff;
}
#filters_info {
  display: flex;
  align-items: center;
}
#filters_info i {
  display: flex;
  color: #0065fc;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
}
